/build-aux
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
doc/stamp-vti
doc/version.texi
doc/.gitignore
doc/.dirstamp

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/GNUmakefile
/maint.mk
